<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-graduation-cap me-2"></i>
      EDU-QUIZZ
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto" *ngIf="authService.isLoggedIn()">
        <!-- Student Menu -->
        <ng-container *ngIf="authService.getCurrentUser()?.role === 'student'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/quiz-list" routerLinkActive="active">
              <i class="fa fa-list me-1"></i> Quiz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/history" routerLinkActive="active">
              <i class="fa fa-history me-1"></i> Mon historique
            </a>
          </li>
        </ng-container>
        
        <!-- Teacher Menu -->
        <ng-container *ngIf="authService.getCurrentUser()?.role === 'teacher'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacher/my-quizzes" routerLinkActive="active">
              <i class="fa fa-book me-1"></i> Mes quiz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacher/quiz-scores" routerLinkActive="active">
              <i class="fa fa-trophy me-1"></i> Scores
            </a>
          </li>
        </ng-container>
        
        <!-- Admin Menu -->
        <ng-container *ngIf="authService.getCurrentUser()?.role === 'admin'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/all-quizzes" routerLinkActive="active">
              <i class="fa fa-database me-1"></i> Tous les quiz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/user-management" routerLinkActive="active">
              <i class="fa fa-users me-1"></i> Utilisateurs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/all-scores" routerLinkActive="active">
              <i class="fa fa-chart-line me-1"></i> Scores
            </a>
          </li>
        </ng-container>
        
        <!-- Common Menu -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active">
            <i class="fa fa-ranking-star me-1"></i> Classement
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav" *ngIf="authService.isLoggedIn(); else loginButton">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fa fa-user-circle me-1"></i>
            {{ authService.getCurrentUser()?.name }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" (click)="logout()">
              <i class="fa fa-sign-out"></i> Déconnexion
            </a></li>
          </ul>
        </li>
      </ul>
      
      <ng-template #loginButton>
        <a class="btn btn-outline-light" routerLink="/login">
          <i class="fa fa-sign-in"></i> Connexion
        </a>
      </ng-template>
    </div>
  </div>
</nav>